
.panel1{
    background: url(images/h_img.jpg) no-repeat;
    padding: 100px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: black;
}
.panel2{
    padding: 50px;
}
.text2{
    text-align: center;
    font-size: 10px;
}
.panel3{
    background: url(images/s_image.jpg);
    padding: 100px;
}